@use '../../../styles/variables' as *;

.loan-form {
    &__field {
        margin-bottom: 0.5rem;
    }

    &__labelled-input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        font-size: $text-med;
        line-height: 1.15;
    }


    &__input-label {
        flex: 1;
        text-align: left;
        
    }

    &__input {

        flex: 1;
        min-height: 32px;

    }

    &__checkbox {
        display: flex;
        justify-content: space-around;
    }

    &__submit {
        display: flex;
        justify-content: flex-end;
    }

    &__submit-button {
        font-size: 14px;
        font-weight: 600;
        padding: 0.25rem 1rem;
    }

    &__error-message {
        color: $error-text;
    }
}