@use './styles/variables' as *;

.app {
  display: flex;
  flex-direction: column;
}

.main-content {
  position: relative;
  padding: 2rem 2rem 0;

  border: 1px solid grey;
  border-radius: 3px;

  &__header {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;

    h1 {
      margin: 0;
      font-size: $text-xxl;
    }

    .controls {
      margin-left: 2rem
    }
  }

  &__loan-cards {
    display: flex;
    gap: 1rem;
  }
}

////////

body {
  font-family: sans-serif;
  overflow: scroll;
  display: block !important; // overriding kor styles
  padding: 2rem 0;
}

